<div class="py-6">
  <h1 class="text-2xl font-bold mb-4">Clinics</h1>

  <table class="w-full border-collapse">
    <thead>
      <tr>
        <th class="px-4 py-2 border">Name</th>
        <th class="px-4 py-2 border">Location</th>
        <th class="px-4 py-2 border" colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @clinics.each do |clinic| %>
        <tr>
          <td class="px-4 py-2 border"><%= clinic.name %></td>
          <td class="px-4 py-2 border"><%= clinic.location %></td>
          <td class="px-4 py-2 border"><%= link_to 'Show', clinic, class: "text-blue-500 hover:text-blue-700" %></td>
          <td class="px-4 py-2 border"><%= link_to 'Edit', edit_clinic_path(clinic), class: "text-green-500 hover:text-green-700" %></td>
          <td class="px-4 py-2 border">
            <%= link_to 'Destroy', clinic, method: :delete, data: { confirm: 'Are you sure?' }, class: "text-red-500 hover:text-red-700" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Clinic', new_clinic_path, class: "text-blue-500 hover:text-blue-700" %>
</div>