<%= form_with(model: [@clinic, @appointment], local: true) do |form| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
        <% @appointment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :patient_name %>
    <%= form.text_field :patient_name %>
  </div>

  <div class="field">
  <%= form.label :doctor_id %>
  <%= form.collection_select :doctor_id, @doctors, :id, :name, prompt: true %>
 </div>

  <div class="field">
    <%= form.label :phone_number %>
    <%= form.text_field :phone_number %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_area :address %>
  </div>

  <div class="field">
    <%= form.label :appointment_time %>
    <%= form.datetime_select :appointment_time %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.select :status, Appointment.statuses.keys %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
