<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Prescription Pad</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/4.5.0/fabric.min.js"></script>
</head>
<body class="bg-gray-100 flex  h-screen">
<div class="max-w-screen-lg mx-auto py-8 px-4" id="canvas-container">
    <canvas id="prescriptionCanvas" class="border-2 border-black mb-4"></canvas>
    <div class="flex justify-center space-x-4">
        <button onclick="clearCanvas()" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none">Clear</button>
        <button onclick="savePrescription()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none">Save Prescription</button>
        <%= link_to 'appointment', clinic_appointments_path(@clinic.id), class: "bg-green-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none" %>
    </div>
</div>

  <script>
    const canvas = new fabric.Canvas('prescriptionCanvas');

    canvas.isDrawingMode = true;
    canvas.freeDrawingBrush.width = 2;
    canvas.freeDrawingBrush.color = '#000'; // Black color


    let lastTapTime = 0;
    function clearCanvas() {
      canvas.clear();
    }
    function setCanvasSize() {
        var canvasContainer = document.getElementById('canvas-container');
        var width = canvasContainer.clientWidth - 40;
        var height = window.innerHeight - canvasContainer.offsetTop - 80; 
        // var width = Math.min(window.innerWidth * 0.9, 600); // Adjust maximum width as needed
        // var height = width * 0.75; // 4:3 aspect ratio
        canvas.setDimensions({ width: width, height: height });
      }

    canvas.on('mouse:down', function(options) {
      const currentTime = new Date().getTime();
      const timeDiff = currentTime - lastTapTime;
      if (timeDiff < 300) {
        // Double tap detected
        clearCanvas();
      }
      lastTapTime = currentTime;
    });

    //canvas.on('touch:longpress', function(options) {
        // Long press detected
    //    clearCanvas();
    //  });
    




 

    function savePrescription() {
        const dataUrl = canvas.toDataURL("image/png");
      
        fetch("/clinics/<%= @clinic.id%>/appointments/<%= @appointment.id%>/save_prescription", {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            "X-CSRF-Token": document.querySelector("meta[name='csrf-token']").content
          },
          body: JSON.stringify({ prescription_data: dataUrl })
        })
        .then(response => {
          if (response.ok) {
            console.log("Prescription saved successfully");
            window.location.href = "/clinics/<%= @clinic.id%>/appointments"
            // Optionally, handle success response
          } else {
            console.error("Failed to save prescription");
            // Optionally, handle error response
          }
        })
        .catch(error => {
          console.error("An error occurred:", error);
        });
      }

      window.addEventListener('resize', setCanvasSize);
      setCanvasSize();
  </script>
</body>
</html>
