<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Prescription Pad</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/4.5.0/fabric.min.js"></script>
</head>
<body>
  <canvas id="prescriptionCanvas" width="800" height="600" style="border: 2px solid black;"></canvas>
  <button onclick="clearCanvas()" style="margin: 10px;">Clear</button>
  <button onclick="savePrescription()" style="margin: 10px;">Save Prescription</button>

  <script>
    const canvas = new fabric.Canvas('prescriptionCanvas');

    canvas.isDrawingMode = true;
    canvas.freeDrawingBrush.width = 2;
    canvas.freeDrawingBrush.color = '#000'; // Black color

    function clearCanvas() {
      canvas.clear();
    }

    function savePrescription() {
        const dataUrl = canvas.toDataURL("image/png");
      
        fetch("/clinics/<%= @clinic.id%>/appointments/<%= @appointment.id%>/save_prescription", {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            "X-CSRF-Token": document.querySelector("meta[name='csrf-token']").content
          },
          body: JSON.stringify({ prescription_data: dataUrl })
        })
        .then(response => {
          if (response.ok) {
            console.log("Prescription saved successfully");
            window.location.href = "/clinics/<%= @clinic.id%>/appointments"
            // Optionally, handle success response
          } else {
            console.error("Failed to save prescription");
            // Optionally, handle error response
          }
        })
        .catch(error => {
          console.error("An error occurred:", error);
        });
      }
  </script>
</body>
</html>
