<p id="notice"><%= notice %></p>

<p>
  <strong>Patient Name:</strong>
  <%= @appointment.patient_name %>
</p>

<p>
  <strong>Appointment Time:</strong>
  <%= @appointment.appointment_time %>
</p>

<p>
  <strong>Status:</strong>
  <%= @appointment.status %>
</p>


<% if @appointment.prescription_images.count > 0 %>
<div class="row">
<%  @appointment.prescription_images.each do |image| %>
  <div class="block">
    <%= image_tag rails_blob_path(image, only_path: true), height: '50px' , width: '30px' %>
    <br>
    <%= link_to image.created_at.strftime("%Y-%m-%d %H:%M:%S"), url_for(image), target: "_blank" %>
  </div>

<% end %>
</div>
<% end %>
<%= link_to 'Add Prescription', add_prescription_clinic_appointment_path(@clinic, @appointment) %>
<br>


<%= link_to 'Mark as Doctor', mark_doctor_clinic_appointment_path(@clinic, @appointment),data: { "turbo-method": :patch }, method: :patch if @appointment.status != 'doctor' %>
<br>
<%= link_to 'Mark as Medicine', mark_medicine_clinic_appointment_path(@clinic, @appointment),data: { "turbo-method": :patch }, method: :patch if @appointment.status != 'medicine' %>
<br>
<%= link_to 'Mark as Completed', mark_completed_clinic_appointment_path(@clinic, @appointment),data: { "turbo-method": :patch }, method: :patch if @appointment.status != 'completed' %>
<br>


<%= link_to 'Edit', edit_clinic_appointment_path(@clinic, @appointment) %> |
<%= link_to 'Back', clinic_appointments_path(@clinic) %>

